
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0 auto;
    width: 80%;
}

.visible{
    display: block;
}

main{
    display: flex;
    flex-direction: column;
}

nav#horizontal{
    background-color: lightskyblue;
    width: 100%;
    display: flex;
    justify-content: start;
}
nav#vertical{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
}

/**/
header h1{
    color: white;
    background-color: blue;
    text-align: center;
    padding: 0.5em;
}


section.content{
    display: flex;
    padding: 0.5em;
    height: 70%;
    background-color: lightgrey;
    margin-bottom: 1em;
}

/* to hide inactive sections*/
section.oculta{
    display: none;
}

/* Layout of secitons - div to left - aside to right*/
section div{
    flex: 2;
}

section aside{
    flex: 1;
    background-color: bisque;
    padding: 0.2em;
}

/* navigation bar links style*/
nav > a{
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    background-color: rgb(47, 0, 255);
    padding: 0.2em;
}

nav > a:hover{
    color: blue;
    background-color: white;

}
/* Selector for direct ofspring anchor*/
nav > a.inactive{
    display: none;
}

nav > a.active{
    /*border: 4px red solid;
    z-index: 10;*/
    background-color: white;
    color: rgb(47, 0, 255);
}

nav > a.active:hover{
    background-color: yellow;
    color: green;
}

input{
    padding: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

input:invalid{
    outline: 2px dotted red;
}

input.bloque{
    display: block;
}

ul.turnos{
    background-color: darkgray;
}
li.turno{
    font-style: italic;
    list-style: none;
    border-bottom: 2px solid black;
}

#errorBanner{
    padding: 0.5em;
    text-align: left;
    background-color: red;
    color: white;
    font-size: large;
    overflow: auto;
}

footer{
    font-size: 0.8em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5em;
}

div.oculto{
    display: none;
}

#closeError{
    float: right;
}